a, a:hover, a:active {
    text-decoration: none;
    color: black;
    outline: none;
}
#header{
    width: 100vw;
    height: 160px;
    /*background-color: #b8b8b8;*/
}
.header_wrap{
    width: 1100px;
    height: 100%;
    margin: auto;
    /*background-color: white;*/
}
.header_title{
    font-size: 50px;
    line-height: 160px;
    text-align: center;
}
/*/////////////////////content/////////////////////*/
#container{
    width: 100vw;
    /*height: 1000px;*/
    /*background-color: #72747f;*/
}
.content_wrap{
    width: 1100px;
    margin: auto;
    padding-top: 10px;
    /*background-color: antiquewhite;*/
    display: flex;
    justify-content: space-evenly;
}

.nav {

}

.nav_list a {
    display: block;
    width: 180px;
    height: 40px;
    margin-bottom: 4px;
    padding-left: 6px;
    border: solid 1px #999999;
    border-radius: 2px;
    line-height: 40px;
    color: #222222;
}

.nav_list li:nth-child(1) a {
    border: solid 1px #FF4781;
    color: #FF4781;
}

/*.nav_list li:nth-child(1) a {*/
/*    background-color: #FF4781;*/
/*    border: 0;*/
/*    color: white;*/
/*}*/

.nav_list a:hover {
    border: solid 1px #FF4781;
}

.content {
    width: 840px;
    border: solid 1px #999999;
    margin-bottom: 12px;
}

.box {
    width: 840px;
    height: 300px;
    border: 1px solid #999999;
    margin-bottom: 16px;
}
.profile_name_wrap{
    height: 48px;
    border-bottom: solid 1px #999999;
}

.profile_name{
    font-size: 22px;
    margin-left: 20px;
    line-height: 48px;
}

.profile_wrap {
    height: 250px;
    padding: 0 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile_img_wrap {
    flex-direction: row;
}
.profile_img{
    position: relative;
    width:150px;
    height:150px;
    border-radius: 50%;
    margin: auto;
    z-index: 1;
}
.profile_intro2{
    margin-left: 15px;
    float: left;
}

.profile_intro2 div{
    margin-bottom: 9px;
}

.bold {
    font-weight: bold;
}

.hashtag_wrap {
    color: #FF4781;
}

pre{
    overflow: auto;
    white-space: pre-wrap;
}

.profile_introduce2{
    position: relative;
    width: 260px;
    height: 156px;
    padding-left: 4px;
    border-radius: 2px;
    background-color: white;
    z-index: 1;
    line-height: 22px;
    border-radius:4px;
    border:1px solid rgba(0,0,0,.1);
}

.profile_introduce {
    margin: auto;
}

.content_header {
    display: flex;
    justify-content: space-between;
}

.tap_wrap {
    height: 46px;
    display: flex;
    align-items: center;
    font-size: 22px;
}

.feed_tap {
    margin-left: 10px;
    color: #999999;
}

.total_count {
    transform: translate(-12px, 26px);
}

.feed_wrap {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.post_paging_btn_wrap {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.paging_btn {
    width: 24px;
    height: 24px;
    margin: 0 4px;
    outline: 0;
    border: 0;
    border-radius: 2px;
    background-color: #EEEEEE;
    cursor: pointer;
}

/*////////////////////footer/////////////////////*/
#footer{
    bottom: 0;
    width: 100vw;
    height: 400px;
    background-color: #444444;
}

.footer_wrap{
    width: 1100px;
    height: 100%;
    margin: auto;
    background-color: floralwhite;
}